@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; }
  body > * {
    scroll-snap-align: center; }

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.4;
  font-size: 1.9rem;
  font-weight: 400; }

.primary-heading {
  font-size: 6.5rem;
  font-weight: 800; }

.secondary-heading {
  font-weight: 700;
  font-size: 4.5rem;
  margin-bottom: 1.5rem; }
  .secondary-heading--white {
    color: #f8f8f8;
    padding: 5rem;
    text-align: center; }

.heading-line {
  position: relative; }
  .heading-line::before {
    content: "";
    width: 19rem;
    height: 4px;
    border-radius: 5rem;
    background-color: #ceaf46;
    position: absolute;
    top: -1rem;
    left: 0; }

.third-heading {
  font-size: 3.5rem; }

.header__text {
  font-weight: 500;
  margin: 2.5rem 0; }

p {
  font-size: 2.3rem;
  margin: 2.5rem 0; }

.primary-color {
  color: #b9862d !important; }

.bold-font {
  font-weight: bold; }

.center-text {
  text-align: center; }

.p-medium-top {
  padding: 5rem; }

.white-link {
  color: white; }

.link {
  text-decoration: none; }

.local-address.white-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 1rem;
  transition: all 0.25s ease-in-out; }
  .local-address.white-link:hover {
    border-bottom-color: currentColor; }

.third-heading.heading-line {
  text-align: start;
  padding-bottom: 4.5rem; }
  .third-heading.heading-line::before {
    width: 14.25rem; }

.navbar {
  padding: 1.4rem; }
  .navbar ul {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar ul li.logo-bar {
      margin-top: 15px;
      flex-basis: 4.5rem; }
    .navbar ul li a {
      padding-bottom: 0.5rem;
      color: inherit;
      text-decoration: none;
      text-transform: capitalize; }

.active a {
  color: #b9862d !important;
  font-weight: 700 !important; }

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 2px solid currentColor;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.35s ease-in-out;
  font-weight: 700;
  background: none;
  outline: none;
  font-size: 1.8rem;
  font-family: inherit; }
  .btn .icon--reserve {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 5px; }
  .btn--reserve {
    padding: 0.5rem 1.5rem;
    color: #b9862d !important;
    border-color: currentColor; }
    .btn--reserve .icon--reserve {
      fill: #b9862d; }
  .btn-white {
    color: #f8f8f8;
    border-color: currentColor;
    fill: #f8f8f8; }
    .btn-white .icon-white {
      fill: white;
      margin-right: 0.5rem; }

.header-btns .btn {
  width: 17.5rem;
  margin-top: 2.5rem; }

.category-info .btn {
  color: #b9862d;
  padding: 1rem 3.5rem;
  border-radius: 50rem;
  fill: #b9862d; }
  .category-info .btn:hover {
    color: #ceaf46; }

.category-btn svg {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  fill: inherit; }

.submit-form {
  color: #b9862d;
  padding: 0.5rem 1.5rem;
  fill: #b9862d; }
  .submit-form:hover {
    color: #ceaf46;
    fill: #ceaf46; }

.local-addresses .submit-form {
  margin: 2.5rem 0; }

.popup .input__group-button .confirm-btn {
  color: #f8f8f8;
  background-color: #b9862d;
  fill: #f8f8f8; }
  .popup .input__group-button .confirm-btn:hover {
    background-color: #ceaf46; }

.popup .input__group-button .cancel-btn {
  color: #f8f8f8;
  fill: #f8f8f8; }
  .popup .input__group-button .cancel-btn:hover {
    color: #555555;
    fill: #555555; }

.motor .btn--reserve-section {
  align-self: center; }
  .motor .btn--reserve-section svg {
    transition: all 0.35s ease-in-out; }
  .motor .btn--reserve-section:hover {
    color: #ceaf46 !important; }
    .motor .btn--reserve-section:hover svg {
      fill: #ceaf46 !important; }

input {
  outline: none;
  border: none; }

.form {
  width: 80%;
  margin: 0 auto; }
  .form .two-in-one-field {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .form .two-in-one-field .input__group {
      flex-basis: 50%; }

.input__group {
  margin-bottom: 2rem; }
  .input__group .label__form {
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    transition: all 0.25s ease-in-out;
    font-weight: 700;
    pointer-events: none; }

.input__message {
  height: 25rem; }

.input__form {
  border: none;
  outline: none;
  box-sizing: border-box !important;
  width: 100%;
  padding: 2rem 0 2rem 1.5rem;
  border-radius: 4px;
  border-bottom: 4px solid transparent;
  transition: border 0.45s;
  font-family: inherit;
  font-weight: 500; }
  .input__form::placeholder {
    font-family: "Dosis", sans-serif;
    font-size: 1.5rem;
    font-weight: 500; }
  .input__form:required {
    box-shadow: none; }
  .input__form:focus:invalid {
    border-bottom-color: #555555; }
  .input__form:focus {
    border-bottom-color: #b9862d;
    box-shadow: 0 0 5px rgba(206, 175, 70, 0.5); }
  .input__form:placeholder-shown ~ .label__form {
    opacity: 0;
    transform: translateY(-5rem); }

.popup .input__group-button {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: flex-start; }

.social-media-box {
  display: flex;
  align-items: center;
  position: absolute;
  right: -2.5vw;
  top: 50%;
  transform: rotate(270deg); }
  .social-media-box a {
    transform: rotate(90deg);
    box-sizing: content-box;
    display: inline-block;
    text-decoration: none;
    margin: 0 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50rem;
    border: 2px solid #b9862d;
    padding: 1.5rem; }
  .social-media-box svg {
    width: 100%;
    height: 100%;
    fill: #b9862d; }

.btn-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 1rem;
  initial-letter: inherit; }

.local-icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #b9862d;
  margin-right: 1.5rem; }

.popUp-icon {
  fill: #ceaf46;
  margin-bottom: 2.5rem; }

.icon-gallery {
  fill: #f8f8f8;
  width: 2.5rem;
  height: 2.5rem; }

.footer {
  background-color: #000000;
  color: #f8f8f8;
  position: relative; }
  .footer__top-part {
    display: flex;
    align-items: center;
    margin: 0 auto; }
    .footer__top-part > * {
      font-size: 2.25rem; }
    .footer__top-part .find-us {
      flex-basis: 60%;
      padding-left: 7.5rem; }
      .footer__top-part .find-us a {
        color: #b9862d;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        transition: all 0.35s ease-in-out; }
        .footer__top-part .find-us a:hover {
          border-bottom-color: #b9862d; }
    .footer__top-part .phone {
      flex-basis: 40%;
      padding: 2.5rem;
      background: linear-gradient(to right bottom, #b9862d, rgba(206, 175, 70, 0.1)); }
  .footer a {
    text-decoration: none;
    color: white; }
  .footer__bottom-part {
    width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
    padding-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 7.5rem; }
    .footer__bottom-part .logo-box-footer {
      justify-self: flex-start;
      height: 15rem;
      display: block; }
      .footer__bottom-part .logo-box-footer img {
        height: 100%; }
    .footer__bottom-part .footer-user-info {
      place-self: center; }
      .footer__bottom-part .footer-user-info .footer-user-link {
        display: flex;
        gap: 4.5rem;
        align-items: center;
        justify-content: center; }
        .footer__bottom-part .footer-user-info .footer-user-link a {
          font-weight: 600;
          border-bottom: 2px solid transparent;
          padding: 0.5rem;
          transition: border 0.35s ease-in-out; }
          .footer__bottom-part .footer-user-info .footer-user-link a:hover {
            border-bottom-color: #f8f8f8; }
    .footer__bottom-part .footer__copyright {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between; }
      .footer__bottom-part .footer__copyright .designer-copyright {
        padding-right: 7.5vw; }
        .footer__bottom-part .footer__copyright .designer-copyright a {
          border-bottom: 1px solid transparent;
          font-weight: 300;
          padding-bottom: 0.5rem;
          transition: border 0.35s ease-in-out; }
          .footer__bottom-part .footer__copyright .designer-copyright a:hover {
            border-bottom-color: #b9862d; }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; }

.popup-box {
  visibility: hidden;
  border-radius: 2.5rem;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.85);
  width: 80%;
  color: #f8f8f8;
  text-align: center;
  position: relative; }
  .popup-box .input__group {
    text-align: left !important; }
    .popup-box .input__group input,
    .popup-box .input__group textarea {
      color: #f8f8f8; }
  .popup-box .message-popup {
    margin-bottom: 2.5rem; }

.thank__page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f8f8f8;
  visibility: hidden;
  transform: translate(-50%, -50%);
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 2.5rem; }
  .thank__page .submit-form {
    place-self: center; }

.header {
  position: relative;
  background-color: #000000;
  color: #f8f8f8;
  padding: 0 5vw;
  height: 100vh;
  background-image: url("../images/background/header-home-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  .header .header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%); }
  .header .header-btns {
    display: inline-flex;
    gap: 2.5rem; }

.section__chosing-us {
  background-color: #f8f8f8;
  display: flex;
  align-items: center; }
  .section__chosing-us > div {
    flex-basis: 50%; }
  .section__chosing-us .chosing-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .section__chosing-us .chosing-us__desc {
    padding: 5rem 10rem; }
  .section__chosing-us .chosing-feature {
    margin-top: 5rem; }
    .section__chosing-us .chosing-feature .feature {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2.5rem;
      margin-bottom: 2.5rem; }
      .section__chosing-us .chosing-feature .feature-icon {
        box-sizing: content-box !important;
        fill: #ceaf46;
        border: 2px solid #ceaf46;
        padding: 1.5rem;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem; }
      .section__chosing-us .chosing-feature .feature-desc {
        display: inline-block;
        font-size: 2.3rem; }

.section-fleet {
  margin-top: -15px;
  background-color: #000000;
  color: #f8f8f8; }
  .section-fleet h2 {
    padding-top: 15rem; }
  .section-fleet .category {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-fleet .category .category-picture {
      flex-basis: 65%; }
      .section-fleet .category .category-picture img {
        width: 100%; }
    .section-fleet .category .category-info {
      flex-basis: 35%; }
  .section-fleet .category:nth-of-type(odd) {
    flex-direction: row-reverse; }
    .section-fleet .category:nth-of-type(odd) .category-info {
      padding-left: 7.5rem; }
  .section-fleet .category:nth-of-type(even) {
    flex-direction: row; }
    .section-fleet .category:nth-of-type(even) .category-info {
      padding-right: 7.5rem; }

.section-company {
  background-color: #000000; }
  .section-company .companies-logo-container {
    padding: 5rem 7.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-company .companies-logo-container .company-logo {
      height: 5rem; }
    .section-company .companies-logo-container img {
      height: 100%;
      transition: all 0.25s ease-in-out; }
      .section-company .companies-logo-container img:hover {
        transform: scale(1.25) translate(-2px);
        filter: drop-shadow(0 0 0.5rem #f8f8f8); }

.header-Agency {
  background-image: url("../images/background/header-Agency-background.jpg"); }

.contact-section {
  width: 100%;
  height: 80rem;
  position: relative; }

.background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .background-video .video-back {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.contact-box {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); }

.section-local {
  padding: 10rem;
  color: #f8f8f8;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem; }
  .section-local .secondary-heading {
    grid-column: 1/-1;
    padding: unset; }
  .section-local .local-iframe {
    grid-row: 2;
    width: 75%;
    justify-self: end; }
    .section-local .local-iframe .iframe-local {
      width: 100%;
      height: 50rem;
      border: none;
      border-radius: 4px; }
  .section-local .local-addresses {
    place-self: center flex-start; }
    .section-local .local-addresses .local {
      margin-bottom: 2.5rem;
      display: flex;
      align-items: center; }

.header-Product {
  background-image: url("../../images/background/product-background.jpg");
  background-size: 100%; }

.section-reservation {
  display: grid;
  grid-template-columns: [start_first_gutter] minmax(4.5rem, 1fr) [end_first_gutter start-grid] repeat(4, [start-column] minmax(min-content, 40rem) [end-column]) [end-grid start_second_gutter] minmax(4.5rem, 1fr) [end_second_gutter]; }

.reservation-box {
  margin: 10rem 0;
  grid-column: start-grid / end-grid;
  display: grid;
  grid-template-columns: repeat(4, minmax(25rem, 1fr));
  grid-gap: 4.5rem; }

.motor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right bottom, #ceaf46, rgba(185, 134, 45, 0.2));
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat; }
  .motor_img {
    width: 35rem;
    height: 20rem; }
    .motor_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .motor_info_booking {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem; }
  .motor_infos {
    list-style-type: none;
    text-align: center; }
    .motor_infos li {
      margin: 2rem;
      color: #f8f8f8;
      display: flex;
      align-items: center;
      gap: 2rem; }
  .motor_name {
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000 !important; }
  .motor_company {
    display: flex;
    align-items: center; }

.type_motors {
  justify-self: center;
  width: 80%;
  grid-column: start-grid / end-grid;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 2rem 0;
  margin-top: 7.5rem;
  border-radius: 5rem;
  overflow: hidden;
  background-color: #f8f8f8; }
  .type_motors .type {
    text-align: center;
    padding: 2rem;
    cursor: pointer; }
    .type_motors .type.active_type {
      color: #f8f8f8;
      background-color: #b9862d; }
    .type_motors .type:first-of-type, .type_motors .type:last-of-type {
      padding: 2rem 4rem; }
