.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 2px solid currentColor;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.35s ease-in-out;
  font-weight: $bold-weight;
  background: none;
  outline: none;
  font-size: 1.8rem;
  font-family: inherit;

  .icon--reserve {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 5px;
  }

  &--reserve {
    padding: 0.5rem 1.5rem;
    color: $primary-color !important;
    border-color: currentColor;
    .icon--reserve {
      fill: $primary-color;
    }
  }

  &-white {
    color: $gray-light-color;
    border-color: currentColor;
    fill: $gray-light-color;
    .icon-white {
      fill: white;
      margin-right: 0.5rem;
    }
  }
}
.header-btns {
  .btn {
    width: 17.5rem;
    margin-top: 2.5rem;
  }
}
.category-info {
  .btn {
    color: $primary-color;
    padding: 1rem 3.5rem;
    border-radius: 50rem;
    fill: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}
.category-btn {
  svg {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    fill: inherit;
  }
}

.submit-form {
  color: $primary-color;
  padding: 0.5rem 1.5rem;
  fill: $primary-color;
  &:hover {
    color: $secondary-color;
    fill: $secondary-color;
  }
}
.local-addresses {
  .submit-form {
    margin: 2.5rem 0;
  }
}

.popup .input__group-button {
  .confirm-btn {
    color: $gray-light-color;
    background-color: $primary-color;
    fill: $gray-light-color;
    &:hover {
      background-color: $secondary-color;
    }
  }
  .cancel-btn {
    color: $gray-light-color;
    fill: $gray-light-color;
    &:hover {
      color: $gray-color;
      fill: $gray-color;
    }
  }
}
.motor {
  .btn--reserve-section {
    align-self: center;
    svg {
      transition: all 0.35s ease-in-out;
    }
    &:hover {
      color: $secondary-color !important;
      svg {
        fill: $secondary-color !important;
      }
    }
  }
}
